{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Kapha Personality</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <style>
    .content {
      display: block;
      border: 1px solid #777;
      border-radius: 2px;
      font-family: inherit;
      padding: 10px;
      display: block;
      width: 95%;
    }
  </style>
</head>

<body>
  <div class="row justify-content-center">

    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title text-center">Kapha</h2>
        <div class="content">
          <p style="text-align: justify;">
            Kaphas are naturally emotional in temperament and have tremendous love, devotion and loyalty. Negatively,
            they can have great desire, and may be possessive and greedy. They are romantic, sentimental, and cry
            easily.
            They are slower in learning than others but they retain what they learn well. They are better at finishing
            things than they are at starting something new. They are natural followers and like to work in association
            or within large teams.
            They are stable but can sometimes stagnate. They don’t like change and find it very difficult to change even
            when they want to. They are friendly to people they know but have difficulty in relating to foreigners.
            Kapha types are least likely to express anti-social behavior but they are preoccupied with what others think
            about them.
            High kaha cuses metal dullness and poor perception and they tend to suffer from a lack of motivation.
            They tend to want to own and control everything and have a high degree of possessiveness
            They are prone to over-sleeping overindulging.
          </p>
          <h4> Asanas: </h4>

          <p>
            Kaphas benefit by exercise that causes them to sweat, even profusely, and pushes them beyond what they think
            is the limit of their exertion. Sitting asanas, like any condition of reduced movement, causes kapha to
            increase. Kaphas easily feel tired or fall into daydreaming when holding seated postures. To benefit by
            sitting postures, which is necessary for meditation, kaphas must practice pranayama of a warming nature.

            Vinyasas, like the sun salutation with its constant activity, are stimulating to the kapha constitution.
            Standing postures in general are good for them, particularly as combined with movement and stretching.
            Virabhadrasana and its variations are good, particularly aimed at opening the chest, the place in the body
            where kapha accumulates. Backward bends are generally good for kaphas because they open the chest and
            increase circulation to the head, where mucus easily builds up for them, blocking the senses and dulling the
            mind. Forward bends, which tend to contract the chest, are not as good for them except when they are caught
            up in emotional distress and seek some short term calming influence.

            Kapha people usually have slow digestion and low metabolism. To stimulate the digestive capacity, procedures
            having an action on the navel region (where agni is situated) are very useful (like nauli) . The bow pose is
            one of the most beneficial of yoga postures for them because of this . To counter kapha congestion or
            stagnation, the right yoga postures combined with pranayama are excellent . This brings more circulation to
            both body and mind so that they can change their lives in a positive direction. The plow pose is one of the
            best for opening the lungs for kapha.

          </p>

          <ul>
            <li>Lion pose or sitting poses with pranayama.
            </li>
            <li>Sun salutation, strong vinyasas or 'jumpings.'
            </li>
            <li>Virabhadrasana, Utthita Hasta Padangusthasana (extended hand toe), Urdhva Prasarita Ekapadasana
              (extended foot above), Ardha Chandrasana (Half Moon).
            </li>
            <li>Downward Dog (Adho Mukha Svanasana), Upward Dog (Urdhva Mukha Svanasana).</li>
            <li>Full inverted balancing poses like handstand (Adho Mukha Vrksasana), Pinca Mayurasana (Peacock Feather
              pose).
            </li>
            <li>Headstand and shoulder stand with variations.
            </li>
            <li>Plow pose, all backbends like Upward Bow Pose, Camel Pose (Ustrasana), and Locust Pose, Jathara
              Parivartanasana (Alligator Twist) or Maricyasana followed by a short Savasana.
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <button class="btn btn-primary" onclick="window.location.href='{% url 'submit_physical' %}'">Take the Physical
      Survey
    </button>
  </div>

</body>