<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Kapha Personality</title>
</head>
<body>
    <h1>Kapha</h1>
    <p>
        Kaphas are naturally emotional in temperament and have tremendous love, devotion and loyalty. Negatively, they can have great desire, and may be possessive and greedy. They are romantic, sentimental, and cry easily.
They are slower in learning than others but they retain what they learn well. They are better at finishing things than they are at starting something new. They are natural followers and like to work in association or within large teams.
They are stable but can sometimes stagnate. They don’t like change and find it very difficult to change even when they want to. They are friendly to people they know but have difficulty in relating to foreigners.
Kapha types are least likely to express anti-social behavior but they are preoccupied with what others think about them.
High kaha cuses metal dullness and poor perception and they tend to suffer from a lack of motivation.
They tend to want to own and control everything and have a high degree of possessiveness
They are prone to over-sleeping overindulging.
 

    </p>
</body>