<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pitta-Kapha Personality</title>
</head>
<body>
    <h1>Pitta-Kapha</h1>
    <p>
        Pitta kapha types are psychologically strong in general and don’t seek help easily.
They lack flexibility and adaptability.
They prefer to be dominating and controlling.
They tend to be conservative and possessive. This leads them to eventual frustration because they cannot control everything around them.
They require new activities, new challenges, and new ways to show their creativity.


    </p>
</body>