<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pitta Personality</title>
</head>
<body>
    <h1>Pitta</h1>
    <p>
        Pitta types are intelligent, perceptive and discriminating. They have sharp minds and are able to see the world in a clear and systematic manner. However, they can also be opinionated, judgmental and self -righteous.
They are prone to anger and tend to be aggressive and domineering. They are not afraid of conflict and can be more aggressive when the situation presents itself. They have probing minds and can be good at research. They also have good debating skills.
They have a hard time seeing someone else’s point of view and may lack compassion. They prefer hierarchy and authority over consensus. They are highly determined people.
They usually have food self-control but they can be self-absorbed and anti-social.
High pitta causes aggressiveness and violence.

 

    </p>
</body>