{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Rajas Tamas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <style>
        .content {
            display: block;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
    </style>
</head>

<body>
    <div class="row justify-content-center">

        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title text-center">Rajas Tamas</h2>
                <div class="content">
                    <p style="text-align: justify;">
                        the aggression and violence of dull and ignorant people . It is perhaps the most destructive
                        gunic quality. Tamasic types literally trample over others and, devoid of sensitivity, delight
                        in harm and destruction. Deep sexual perversions come at this level.



                    </p>
                </div>
            </div>
        </div>
    </div>

</body>