{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Rajas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <style>
        .content {
            display: block;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
    </style>
</head>

<body>
    <div class="row justify-content-center">

        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title text-center">Rajas</h2>
                <div class="content">
                    <p style="text-align: justify;">
                        Rajasic types are ever active and agitated in mind, running from one thing to another in
                        pursuing their desires. They have much drive, ambitious and assertion but little peace or calm.
                        They promote their own interest, protect those who serve them and are hostile to those who
                        oppose them. Emotionally, they have a fair amount of anger and don't like to be obstructed in
                        what they do.


                    </p>
                </div>
            </div>
        </div>
    </div>

</body>