{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sattvic Rajas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <style>
        .content {
            display: block;
            border: 1px solid #777;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
    </style>
</head>

<body>
    <div class="row justify-content-center">

        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title text-center">Sattvic Rajas</h2>
                <div class="content">
                    <p style="text-align: justify;">
                        the type of religion, spirituality or idealism of rajasic people. It has rajasic traits of
                        aggression, outer expansion and the seeking of power. Religions based upon militance,
                        exclusivism and intolerance reflect this quality



                    </p>
                </div>
            </div>
        </div>
    </div>

</body>