<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vatta-Pitta Personality</title>
</head>
<body>
    <h1>Vatta-Pitta</h1>
    <p>
        VP types have the volatility of air and fire combined. Fear and anger mix within them in unpredictable way. If something doesn’t make them fearful, it makes them angry.
They often look for someone who they can unload their negative emotions on.
They find it difficult to withstand criticism.
They are generally highly intelligent and require a lifestyle that can accommodate their volatility.
They will thrive in an environment that supports them and creates a safe space for them to express their volatility.

        

    </p>
</body>