

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vatta Personality</title>
</head>
<body>
    <h1>Vatta</h1>
    <p>
        Vata types are quick and agile in their minds with often changing
interests and inclinations. They are talkative, informed and
intellectual and can understand many different points of view their minds easily
waver and can wander out of control. While they may have some knowledge of many
different subjects, the tend to lack in depth knowledge about one subject specifically.

They ack determinism and self confidence and often have a negative perception of themselves.
Vata types suffer most from fear, which is their first reaction to anything new or strange. They like to worry easily get afflicted by anxiety, and usually lack stability. They get saced out and may be absent-minded. Their memory and short-term and erratic. They suffer quickly from overwork and over-exercise and tend to overextend themselves in whatever they do.
They are good at creative pursuits. They can be highly sociable and like to mix with people of all types. But, when there is too much vata, they tend to become loners and hypersensitive to contact. This is generally because they have too much to say and do not know how to relate it.
They are the most adaptable to change.
If there is too much vata, there is a lot of instability and agitation in the mind which results in exccesive worrying and makes problems appear larger than they are. They are prone to premature action and inappropriate action.
High vata manifests as fear, alienation, and possible nervous breakdowns. They can also suffer from insomnia, tremors, palpitations and rapid shifts of mood.

 

    </p>
</body>



