<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vatta-Kapha Personality</title>
</head>
<body>
    <h1>Vatta-Kapha</h1>
    <p>
        VK types lack energy, motivation and passion. They sometimes simply do not have the fire to get things started.
        They are often hypersensitive, and passive-dependent.
        They lack the energy to put plans into action.
        They will go out of their way to agree with what you have said.
        They have chameleon-style personalities where they can appear to be what people want them to be. They will often also blame themselves for others’ mistakes.
        They can be highly adaptable and humble.
        They tend to be naïve and need to be more realistic about other people and their motivations.
        

    </p>
</body>